<button class="btn btn-danger" (click)="Logout()" routerLink="/">Logout</button>

<h1>Update Products</h1>
<div class="alert" [class.visible]="isVisible"> 
  {{alertmsg}}
</div>

<form class="form-horizontal">

    <div class="form-group"> 
      <label class="col-md-4 control-label" for="productName">PRODUCT NAME</label>  
      <div class="col-md-4">
      <input id="productName" #productName="ngModel" [(ngModel)]="updateData.productName" name="productName" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="">
      </div>
    </div>
    
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="price">PRICE</label>  
      <div class="col-md-4">
      <input id="price"  #price="ngModel" [(ngModel)]="updateData.price" name="price" placeholder="Price" class="form-control input-md" required="" type="Number">
      </div>
    </div>
    
    
    <div class="form-group">
        <label class="col-md-4 control-label" for="quantity">QUANTITY</label>  
        <div class="col-md-4">
        <input id="quantity" #quantity="ngModel" [(ngModel)]="updateData.quantity" name="quantity" placeholder="Enter Quantity" class="form-control input-md" required="" type="Number">
        </div>
      </div>
      
      <div class="custom-control custom-radio">
        <input id="male" type="radio" class="custom-control-input" value="Available" name="status" #status="ngModel" [(ngModel)]="updateData.status" required>
        <label class="custom-control-label" for="Available">Available</label>
      </div>
    
      <div class="custom-control custom-radio">
        <input id="female" type="radio" class="custom-control-input" value="NotAvailable" name="status" #status="ngModel" [(ngModel)]="updateData.status" required>
        <label class="custom-control-label" for="NotAvailable">Not Available</label>
      </div>


      
        <div class="form-group">
      <label class="col-md-4 control-label" for="filebutton">Image</label>
      <div class="col-md-4">
        <input id="filebutton" #imgList="ngModel" [(ngModel)]="updateData.imgList" name="filebutton" class="input-file" type="file">
      </div>
    </div>
    
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="onSubmit(updateData)">Submit</button>
      </div>
    
    </form>
    
    