<div>
  <img src="/assets/signup.png" id="icon" alt="User Icon" height="100px" width="100px"/>
</div>
<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="text" #fName="ngModel" [(ngModel)]="userService.selectedUser.fName" name="fName"
    placeholder="First Name" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fName.valid }">
  <div *ngIf="signUpForm.submitted && !fName.valid">
    <label class="validation-message">This field is required.</label>
  </div>
  <input type="text" #lName="ngModel" [(ngModel)]="userService.selectedUser.lName" name="lName"
  placeholder="Last Name" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !lName.valid }">
<div *ngIf="signUpForm.submitted && !lName.valid">
  <label class="validation-message">This field is required.</label>
</div>
 
  <input type="text" #mobileNumber="ngModel" [(ngModel)]="userService.selectedUser.mobileNumber" name="mobileNumber"
    placeholder="Mobile Number" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !mobileNumber.valid }">
  <div *ngIf="signUpForm.submitted && !mobileNumber.valid">
    <label class="validation-message">This field is required.</label>
  </div>

  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email"
    required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
    placeholder="Password" minlength="4" required
    [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>

  <input type="submit" value="Sign Up">
  <input type="button" value="Sign In" routerLink="/login"> 
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>